@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif+SC:wght@400;700&family=ZCOOL+KuaiLe&display=swap');

.blockquote {
  max-width: 600px;
  margin: 10px 30px;
  padding: 25px;
  background-color: #f8fffe;
  border: 5px solid #b0d2cb;
  color: #0b4237;
  box-sizing: border-box;
}

.blockquote-bordered {
  border-left-width: 10px;
}

.blockquote::before {
  content: "\201c";
  font-size: 100px;
  color: #889d99;
  display: block;
  margin-bottom: -50px;
  margin-top: -20px;
}

.quote-text {
  font-family: 'Gelasio', serif;
  font-style: italic;
  font-size: 1.15em;
  line-height: 1.2;
  margin: 0;
}

.quote-text:not(:last-child) {
  margin-bottom: 1em;
}

.quote-credit {
  font-weight: bold;
  font-style: normal;
  text-align: right;
}

.quote-credit::before {
  content: "\2014\0020";
}

.cn-quote-div {
  width: 600px;
}
.cn-blockquote {
  width: 600px;
  /* max-width: 600px; */
  margin: 10px 30px;
  padding: 25px;
  background-color: #508cb2;
  border: 1cap solid #bae7fd;
  color: #ffffff;
  box-sizing: border-box;
}

.cn-blockquote::before {
  content: "\201d";
  font-size: 200px;
  color: #e0f2fe;
  display: block;
  margin-bottom: -180px;
  margin-top: -20px;
  text-align: right;
}

.cn-quote-text {
  font-family: 'Noto Serif SC', serif;
  font-size: 2em;
  line-height: 1.5;
  margin: 0;
}

.trivia {
  text-align: right;
  margin: 5px;
}
.credit {
  font-style: bold;
  color: #ecedf3;
  font-size: 1.5em;
}

.credit::before {
  content: "\2014\2014\0020";
  color: #7db0d0;
}

.bg-text {
  font-size: 0.9em;
  color: #cde0e8;
}

.topic {
  color: #7db0d0;
  font-size: 1.5em;
  font-family: 'ZCOOL KuaiLe', sans-serif;
}