.blockquote {
  max-width: 600px;
  margin: 10px 30px;
  padding: 25px;
  background-color: #f8fffe;
  border: 1px solid #b0d2cb;
  color: #0b4237;
  box-sizing: border-box;
}

.blockquote-bordered {
  border-left-width: 10px;
}

.blockquote::before {
  content: "\201c";
  font-size: 100px;
  color: #889d99;
  display: block;
  margin-bottom: -50px;
  margin-top: -20px;
}

.quote-text {
  font-family: 'Gelasio', serif;
  font-style: italic;
  font-size: 1.15em;
  line-height: 1.5;
  margin: 0;
}

.quote-text:not(:last-child) {
  margin-bottom: 1em;
}

.quote-credit {
  font-weight: bold;
  font-style: normal;
  text-align: right;
}

.quote-credit::before {
  content: "\2014\0020";
}